<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <title>Document</title>
</head>

<body>
     <!-- <div id="app"></div> -->
     <!-- <div id="app2"></div> -->
     <!-- <div id="app3"></div> -->
     <!-- <div id="app4"></div> -->
     <!-- <div id="app5"></div> -->
     <div id="app6"></div>
     <script>//ejercicio 1
          // -----------------------------Ejercicio 1----------------------------------

          // Crear un componente
          const compoEj1 = {
               data() {
                    return {
                         numero: 0,

                    };
               },
               template: `
                    <div> 
                         <h1>Ejercicio 1</h1>

                         <button @click="incremento">+2</button><input type="text" :value="numero" @keyup="aCero">
                         <div>{{ numero }}</div>
                    </div>
               `,
               methods: {
                    incremento() {
                         this.numero += 2;
                    },
                    aCero() {
                         this.numero = 0;

                    }
               }
          };

          const ejercicio1 = Vue.createApp({
               data() {
                    return {
                         x: "",
                         y: ""
                    };
               },
               methods: {
                    coordenadas(event) {
                         {
                              this.x = event.pageX
                              this.y = event.pageY
                         }
                    }
               },
               template: `
                    <div @mousemove="coordenadas">
                         <compoEj1/>
                         <p>valor de x:{{ x }}</p>
                         <p>valor de y:{{ y }}</p>
                    </div>
               `,
               components: {
                    compoEj1//pongo el componente dentro del template del padre
               }
          });
          // Montar la aplicación en el elemento con ID 'app'
          ejercicio1.mount("#app");
     </script>
     <script>//ejercicio 2
          const lista = {
               template: `<div style="text-align:center" >
                              <h2>Crea una nueva tarea!</h2>
                              <label>Tarea:</label><input type="text" v-model="texto" @keyup="insertadesdereturn"><button @click="insertar" >Crear</button>
                              <br>
                              <br>
                              <h2>Lista</h2>
                                   <div v-if="tareas.length==0">La lista aún no tiene tareas asignadas</div>
                                   <ul v-for="tarea in tareas">
                                        <li>{{ tarea }}</li>     
                                   </ul>
                         </div>
                         `,
               data() {
                    return {
                         tareas: [],
                         texto: "",
                         tecla: 13
                    }
               },
               methods: {
                    insertar() {
                         if (this.texto == "") {
                              alert("el campo de texto debe estar completado");
                         } else {
                              this.tareas.push(this.texto);
                              this.texto = "";
                         }

                    },
                    insertadesdereturn(e) {
                         if (e.keyCode == 13) {
                              this.insertar();
                         }
                    }

               },

          };
          const ejercicio2 = Vue.createApp({
               template: `
                    <div>
                         <h1 style="text-align:center">Lista de tareas por Realizar</h1>
                         <lista></lista>
                    </div>
               `,
               data() {
                    return {

                    }
               },
               methods: {

               },
               computed: {
               },
               components: {
                    lista
               }
          })
          ejercicio2.mount("#app2");
     </script>
     <script>//ejercicio 3
          const boton = {
               template: `
          <div>
               <button @click="sum(2)"> +2seg </button>     
               <button @click="sum(5)"> +5seg </button>     
               <button @click="sum(15)"> +15seg </button>     
               <button @click="sum(25)"> +25seg </button>     
               <label>Cuenta Atrás: </label>{{ tiempo }}
          </div>
          `,
               data() {
                    return {
                         tiempo: 20,
                         id: ""
                    }
               },
               methods: {
                    cuentaAtras() {
                         setInterval(() => {
                              if (this.tiempo != 0) {
                                   this.tiempo = this.tiempo - 1;
                              } else {
                                   clearTimeout;
                              }
                         }, 1000);
                    },
                    sum(valor) {
                         this.tiempo += valor;
                         console.log("he sumado " + valor + " segundos");
                    },
               },
               mounted() {
                    this.cuentaAtras();
               },
          };
          const ejercicio3 = Vue.createApp({
               template: `
                    <div>
                         <boton></boton>
                    </div>          
          `,
               components: {
                    boton
               },

          })
          ejercicio3.mount("#app3");
     </script>
     <script>//ejercicio 4
          const listaTareas = {
               template: `
                    <div>
                         <h2 style="color:blue">Desde componente hijo</h2>
                         <ul v-for="(tarea,index) in newTareaProp" :key="index">
                              <li>{{ tarea }}<button @click="eliminar(index)">Eliminar</button></li>
                         </ul>

                    </div>
                         `,
               props: {
                    newTareaProp: Array,
               },
               methods: {
                    eliminar(index) {
                         this.$emit('delet', index);
                    }
               }
          }
          const nuevaTarea = {
               template: `
                         <div>
                              <input type="text" placeholder="escribe una nueva tarea" v-model="newTarea">
                              <button @click="insertaTarea">Crear</button>
                              <div v-if="tareas.length!=0">
                                   <listaTareas :newTareaProp="tareas" @delet="eliminarTarea"></listaTareas>
                              </div>
                         </div>
                         `,
               components: {
                    listaTareas
               },
               data() {
                    return {
                         tareas: [],
                         newTarea: "",

                    }
               },
               methods: {
                    insertaTarea() {
                         this.tareas.push(this.newTarea);
                         this.newTarea = "";
                         console.log(this.tareas);
                    },
                    eliminarTarea(inice) {
                         this.tareas.splice(inice, 1);
                    }
               },
          };
          const ejercicio4 = Vue.createApp({
               template: `
                         <div>
                              <h1 style="text-align:center">Ejercicio 4, pasando props</h1>
                              <nuevaTarea></nuevaTarea>
                         </div>
                         `,
               components: {
                    nuevaTarea
               }
          });
          ejercicio4.mount("#app4");
     </script>
     <script>//ejercicio 5
          const PokeGuia = {
               props: {
                    pokemonName: String,
                    
               },
               template: `
                  <div style="text-align:center">
                      <div style="margin:3rem">
                          <h4>El nombre del Pokemon es: {{ pokemonName }}  </h4>
                      </div>
                      
                  </div>
              `,
          };

          const pokeApi = Vue.createApp({
               template: `
                  <div style="text-align:center">
                      <div>
                          <img src="/imagenes/pokeapi_256.3fa72200.png">
                      </div>
                      <div style="text-align:center">     
                          <h1>PokeGuia</h1>
                          <label>Nombre : </label> <input type="text" v-model="pokemonSeleccionado"> <button style="color:orange" @click="getpikachu">Buscar</button>
                      </div>
                      <div style="margin:3rem">
                          <select v-model="pokemonSeleccionado" style="width:150px" @change="getpikachu" >
                              <option v-for="(pokemon, index) in pokemons" :key="index">{{ pokemon.name }}</option>
                          </select>
                      </div>
                     
                      <div>
                          <PokeGuia :pokemonName="objetoPokemon.name"></PokeGuia>
                      </div>
                      <div style="margin:3rem">
                          <h2>Habilidades</h2>
                          <ul v-for="habilidad in this.objetoPokemon.abilities">
                              <li>{{ habilidad.ability.name }}</li>
                          </ul>
                      </div>
                      <div style="margin:3rem">
                          <h2>Movimientos</h2>
                           <ul v-for="movimiento in this.objetoPokemon.moves">
                              <li>{{ movimiento.move.name }}</li>
                          </ul>
                      </div>
                  </div>
              `,
               data() {
                    return {
                         objetoPokemon:{},
                         pokemons: [],
                         pokemonSeleccionado: "pikachu",
                    };
               },
               methods: {
                    
                    getpikachu() {
                         fetch(`https://pokeapi.co/api/v2/pokemon/${this.pokemonSeleccionado}`)
                              .then((respuesta) => respuesta.json())
                              .then((data) => {this.objetoPokemon = data})
                              
                              .catch((error) => {
                                   console.error("Error al obtener datos:", error);
                              });

                    },
                    getallData() {
                         fetch("https://pokeapi.co/api/v2/pokemon/?offset=20&limit=20")
                              .then((respuesta) => respuesta.json())
                              .then((data) => {this.pokemons = data.results})
                              
                              .catch((error) => {
                                   console.error("Error al obtener datos:", error);
                              });

                    },
                    encuentraPokemon(nombre){
                         this.pokemonSeleccionado=this.pokemons.find((pokemon)=>pokemon.name==nombre);
                    }
               },
               async mounted() {
                   await this.getpikachu();
                   this.getallData();
               },

               components: {
                    PokeGuia,
               },
          });

          pokeApi.mount("#app5");
     </script>
     <script>//ejercicio 6
          const ejercicio6 = Vue.createApp({
               template:`
               <div style="text-align:center">
                    <div style="background:lightgreen;width:100%;padding:2rem;margin:1rem">
                         <h1>Random Git Cat</h1>
                    </div>
                    <div style="display:flex;flex-direction: column;">
                         <div style="padding: 1.5rem;">
                              <label for="Titulo">Titulo :</label>
                              <input type="text" name="" id="">
                         </div>
                         <div style="padding: 1.5rem;">
                              <label for="Filtro">Filtro :</label>
                              <select name="" id="" style="width:80px"></select>
                         </div>
                         <div style="padding: 1.5rem;">
                              <label for="Color">Color :</label>
                              <select name="" id="" style="width:80px"></select>
                         </div>
                         <div style="padding: 1.5rem;">
                              <label for="Tamaño">Tamaño :</label>
                              <input type="text" name="" id="">
                         </div>
                    </div>
               </div>`,
               data() {
                    return {
                         cats:[],

                    }
               },
               methods: {
                    // /cat/:tag/says/:text
                    // /cat/says/:text?fontSize=:size&fontColor=:color
                    funcionPrueba(){
                         fetch("https://cataas.com/cat").then((resp)=>console.log(resp))
                    }
               },
               mounted() {
                    this.funcionPrueba();
               },

          });
     ejercicio6.mount("#app6");
     </script>
    
</body>

</html>