<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
     <script src="https://cdn.tailwindcss.com"></script>
     <title>Document</title>
</head>
<body>
     <!-- <div id="app1"></div> -->
     <!-- <div id="app2"></div> -->
     <div id="app3"></div>
     <!-- <div id="app5"></div> -->
     <!-- <div id="app6"></div> -->
     <script>//ejercicio 1
          const ejercicio1 = Vue.createApp({
            template: `
              <div @mousemove="coordenadas">
                    <div class="flex flex-col text-center text-3xl items-center">
                         <h1>Ejercicio 1</h1>
                         <p>Muestre un botón que incremente un valor de 2 en 2.</p>
                         <button class="border w-40 rounded-xl bg-red-200 shadow-xl hover:scale-125" @click="incrementa">Incrementa 2</button>
                         <div>{{ resultado }}</div>
                         <div>
                              <p>Muestre una caja de texto que nos permita iniciar el contador activándose en el evento keyup.</p>
                              <input @keyup="reinicia" type="text" v-model="ivalue" class="bg-red-200 rounded-xl text-center shadow-xl" placeholder="Escribe Aquí">
                         </div>
                         <div>coordenada X--> {{ coorX }}</div>
                         <div>coordenada Y--> {{ coorY }}</div>
                    </div>
              </div>
            `,
            data() {
              return {
                resultado: 0,
                ivalue: "",
                coorX:"",
                coorY:""
              };
            },
            methods: {
              incrementa() {
                this.resultado += 2;
              },
              reinicia() {
                // Reset the counter based on the input value
                this.resultado = parseInt(this.ivalue) || 0;
              },
              coordenadas(event){
               this.coorX=event.pageX;
               this.coorY=event.pageY;
              }
            },
          });
          
          ejercicio1.mount("#app1");
     </script>
     <script>//ejercicio 2
          const ejercicio2 = Vue.createApp({
               template:`
                    <div>
                         <div class="flex flex-col text-center items-center">     
                              <h1 class="text-center text-xl bg-green-300 my-4 p-2 rounded-lg">Añade tareas a la lista</h1>
                              <input @keyup.enter="insertar" type="text" v-model="texto" class="w-40 flex m-auto bg-red-200 p-2 mx-2 rounded-xl shadow-xl text-center "><button @click="insertar" class="bg-gray-400 rounded-xl p-4 my-4">Añadir</button>
                              <h2 v-if="tareas.length==0">No hay ninguna tarea añadida en este momento</h2>
                              <ul v-for="tarea in tareas"><li>{{ tarea }}</li></ul>
                         </div>
                    </div>
               `,
               data() {
                    return {
                         tareas:[],
                         texto:"",
                    }
               },
               methods:{
                    insertar(){
                         if(this.texto==""){
                              alert("debes ingresar la tarea en la caja de texto");
                         }else if(this.tareas.includes(this.texto)){
                              alert("esa tarea ya esta apuntada");
                         }else{
                              this.tareas.push(this.texto.toLowerCase());
                               this.texto="";
                         }
                         
                    }
               }
          });
          ejercicio2.mount("#app2");
     </script>
     <script>//ejercicio 3
          const ejercicio3 = Vue.createApp({
            template: `
              <div class="flex flex-col items-center">
                
                  <button class="bg-orange-300 w-36 rounded-xl border shadow-xl p-4 m-3" @click="aumenta_tiempo(2)">Incrementa 2</button>
                
                
                 
                  <button class="bg-orange-300 w-36 rounded-xl border shadow-xl p-4 m-3" @click="aumenta_tiempo(5)">Incrementa 5</button>
                
                
                 
                  <button class="bg-orange-300 w-36 rounded-xl border shadow-xl p-4 m-3" @click="aumenta_tiempo(10)">Incrementa 10</button>
                
               
                 
                  <button class="bg-orange-300 w-36 rounded-xl border shadow-xl p-4 m-3" @click="aumenta_tiempo(15)">Incrementa 15</button>
                
                <div class="text-8xl">{{ this.minutos+" : "+this.segundos  }}</div>
              </div>
            `,
            data() {
              return {
                tiempo: undefined,
                segundos:10,
                minutos:0,
                
              };
            },
            methods: {
              reduce_tiempo() {
                this.segundos--;
              },
              aumenta_tiempo(numero) {
                this.segundos += numero;
                while(this.tiempo!=0){
                  
                }
                if(this.segundos>=60){
                  this.minutos++;
                  this.segundos=this.segundos-60;
                }
                if(this.minutos>0&&this.segundos==0){
                  this.minutos--;
                  this.segundos=59;
                }
                if(this.minutos==0&&this.segundos>=0){
                  this.tiempo=0;
                  clearInterval();
                }
                
              },
              comienzo() {
                setInterval(() => {
                  if (this.tiempo !== 0) {
                    this.reduce_tiempo();
                  } else {
                    clearInterval(); // Clear the interval when tiempo reaches 0
                  }
                }, 1000);
              },
            },
            mounted() {
              this.comienzo();
            },
          });
          
          ejercicio3.mount("#app3");
     </script>
     <script>//ejercicio 5
      const ejercicio5 = Vue.createApp({
        template:`
        <div class="flex justify-center">
          <img src="/imagenes/pokeapi_256.3fa72200.png">
        </div>
        <div class="flex justify-center font-bold my-10">
          <h2>POKEGUIA</h2>
        </div>
        <div class="text-center">
        <label for="buscar">Nombre :<input v-model="nombrePokemon" class="border rounded-lg shadow-xl p-2 mx-4" type="text" name="" id="" placeholder="Nombre..."></label><button class="p-2 border bg-red-200 shadow-xl hover:bg-red-300 rounded-xl" @click="getImg(nombrePokemon)">Buscar</button>
        </div>
        <div class="flex flex-col justify-center text-center my-5 ">
          <div class="flex flex-col justify-center items-center">
            <h2>El nombre del pokemon seleccionado es : <span class="font-bold">{{ this.nombrePokemon }}</span></h2>
          <img :src="img" class="w-[200px]">

          <select v-model="nombrePokemon" name="" id="" @change="getImg(nombrePokemon)">
            <option v-for="pokemon in pokemonsTodos">{{ pokemon.name }}</option>
          </select>
          
          </div>

        </div>
        `,
        data() {
          return {
            pokemonsTodos:[],
            nombrePokemon:"pikachu",
            img:""
          }
        },
        methods: {
          getAllData(){
            fetch("https://pokeapi.co/api/v2/pokemon/?offset=0&limit=1300").then(resp=>resp.json())
            .then(data=>{this.pokemonsTodos=data.results;console.log(this.pokemonsTodos)})
          },
          getImg(name){
            fetch("https://pokeapi.co/api/v2/pokemon/"+name).then((respuesta) => respuesta.json())
            .then((data)=>{this.img=data.sprites.front_default})

          },
        
        },
         mounted() {
          this.getAllData();
          this.getImg(this.nombrePokemon);
        },
        components:{

        },
        computed:{

        }
      })
      ejercicio5.mount("#app5");
      
     </script>
     
     <!--  <script>//ejercicio 6Gatos

        const ejercicio6= Vue.createApp({
          template:`
          <h1 class="text-center font-semibold text-xl">Este es el ejercicio 6 de los gatos</h1>
          <p class="text-center bg-green-100">## Ejercicio 6

            ![Inicio de Ejercicio6](./Imagenes/CapturaEjercicio_6-0.JPG)

            ### Crea una app que usando la API https://cataas.com/ haga lo siguiente:

            1.  En el primer componente padre Ejercicio6 estableceremos las características del gato a traer
                1.  Seleccionaremos las características que queramos teniendo en consideración la documentación de la API. En la imagen hay un ejemplo
            2.  Al pulsar el botón mostrar gato, accedermos a la API con las características seleccionadas y la url devuelta se la mandaremos a un componente hijo para que la muestre.</p>
            <img :src="img">
          `,
          data() {
            return {
              img:""
            }
          },
          methods: {
           async getData(){
               await fetch("https://cataas.com/cat?type=medium&filter=custom&fit=cover&position=centre&width=400&height=400&r=133&g=113&b=134")
               .then(resp=>(resp.url)).then((data)=>{this.img=data})
            }
          },
          mounted(){
            this.getData();
          }

        });
        ejercicio6.mount("#app6");
        
      </script> -->
      

</body>
</html>